@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-xs: 480px;
}
@theme inline {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-display: var(--font-cormorant), serif;
  --font-mono: var(--font-jetbrains), monospace;

  --color-cream: hsl(30, 20%, 97%); /* background */
  --color-brown: hsl(24, 15%, 10%); /* dark text */
  --color-tan: hsl(24, 10%, 40%); /* lighter brown, secondary text */
  --color-warm: hsl(28, 18%, 92%); /* light warm grey, sections */
  --color-accent: hsl(28, 45%, 45%); /* the rust/terracotta */
}

:root {
  --font-inter: "";
  --font-cormorant: "";
  --font-jetbrains: "";
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: var(--font-sans);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: var(--color-cream);
    color: var(--color-brown);
    line-height: 1.6;
  }

  button {
    @apply cursor-pointer hover:scale-105 transition-all duration-400;
  }
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}



